body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

html {
  --dark-gray-color: rgba(0, 0, 0, 0.35);
}

::placeholder {
  color: #d4d9e0 !important;
}

.bg-dark-gray {
  background-color: var(--dark-gray-color) !important;
}

.text-black {
  color: #000 !important;
}

.text-gray {
  color: #656565;
}

.text-dark-gray {
  color: rgba(89, 90, 92, 1);
}

.text-purple {
  color: #7d0fcc;
}

.text-purple {
  color: #7d0fcc;
}

.text-gradient {
  background: linear-gradient(120.94deg, #f858e3 -0.33%, #ae5cf5 70.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  border: 1px solid #e2e2e2;
}

.cursor-pointer {
  cursor: pointer;
}